/* Universal Styling */

.columns{
    margin-bottom: 0 !important;
}

.sect-title{
    padding-bottom: 20px;
}

/* Color per Column */

#front{
    background: #08d9d6;
}

#intro{
    background: #eaeaea;
}

#skills{
    background: #252a34;
}

#skills .title{
    color: #eaeaea !important;
}

#portfolio{
    background: #ff2e63;
}

#portfolio .title{
    color: #eaeaea !important;
}

#contact{
    background: #eaeaea;
}

/* Styling */

#front{
    padding-bottom: 0;
}

#front #front-img{
    padding-bottom: 0;
}

#front #front-text{
    /* padding: 0; */
    width: 50%;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}


#intro .mini{
    background: #252a34;
    padding: 20px;
    margin: 5px;
    color: #eaeaea;
}

#intro .mini h4{
    font-weight: bold;
    filter: blur(0.5px);
}

#intro .mini p{
    filter: blur(1px);
}

#intro .mini:hover p{
    filter: none;
}

#intro .mini:hover h4{
    filter: none;
}

#skills .skill{
    color: #eaeaea !important;
    border: 5px solid #eaeaea;
    margin: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#skills .skill:hover{
    background-color: #eaeaea !important;
    border: 5px solid #eaeaea;
    color: #252a34 !important;
    margin: 5px;
}

#portfolio{
    color: #eaeaea;
}

#portfolio .port p{
    padding-top: 10px;
}

#contact a{
    color: #222222;
}

#contact a:hover{
    color: hsl(217, 71%, 53%);
}